@media (prefers-color-scheme: dark) {
    body {
        background-color: #282c34;
    }

    div.app {
        color: white;
    }

    .modal .page{
        background: #282c34;
    }

    .modal-wrapper{
        background: #282c34;
    }

    .modal-wrapper a{
        color: #999;
    }

    .modal-wrapper .close{
        color: #999;
    }

    .modal-wrapper .close:hover{
        color: #fff;
        border-color: #fff;
    }

    div.app {
        background: #282c34;
    }

    .modal .page{
        color: #fff;
    }
}