@media only screen and (max-width: 600px) {
    h3{
        display: none;
    }

    ul{
        flex-direction: column;
    }

    .input-wrapper {
       margin-top: 50px;
        padding: 2px;
    }

    .input-wrapper.error .error-wrapper {
        transform: translateY(-50px);
    }
}
